<div class="counter">
<input type="hidden" name="counter" value="{{ current_step }}">
    <div class="col-lg-12">
        {% for step in counter %}
            <div class="number" figure="n{{ step }}">
                <div class="top square">
                    <div class="bottom square"> </div>
                </div>
            </div>
        {% endfor %}
    </div>


</div>