<div class="container-fluid best">
    <div class="row">
        <p>You are perfect! You win of {{ step }} step!</p>
    </div>
    <div class="row">
        <label for="name">Enter you name, please: </label>
        <input type="text" id="name" value="{% if username is defined %}{{ username }}{% endif %}">
    </div>
</div>